* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $default-bg-color;
  color: $default-font-color;
  @media (max-width: $break_small) {
    font-size: .8em;
  }
}

img {
  max-width: 100%;
}

.l-container {
  background-color: $default-bg-color;
  margin-top: 2em;
  margin-bottom: $nav-bottom;
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  padding-bottom: 1em;
  width: 100%;
  @media (max-width: $break_large) {
    width: 90%;
  }
  @media (max-width: $break_small) {
    margin-top: 1.5em;
    margin-bottom: $nav-bottom;
    padding-bottom: 1.5em;
  }
}

.l-container.hp {
  margin-bottom: 0px;
  @media (max-width: $break_small) {
    margin-bottom: 0px;
  }
}

#fade {
  opacity: 0;
}

.nav {
  @include vendor-prefix(transition, all 0.3s);
  @include hover(.8);
  margin-bottom: 1.5em;
  min-width: 36px;
  width: 5%;
}