* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $default-bg-color;
  color: $default-font-color;
  @media (max-width: $break_small) {
    font-size: .8em;
  }
}

img {
  max-width: 100%;
}

.l-container {
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  max-width: 60em;
  width: 100%;
  @media (max-width: $break_large) {
    width: 90%;
  }
}

#fade {
  opacity: 0;
}

.nav {
  @include vendor-prefix(transition, all 0.3s);
  margin-bottom: 2.5%;
  min-width: 36px;
  width: 5%;
  &:hover {
    opacity: .8;
  }
}