//stole this from Ally Palanzi she is a 
//genius, ya'll should respect her

// config
$debug: true;

// create sass list to pass media query data
// if a breakpoint name changes, remember to
// update it in the list below as well
$mq-sync:
  break_xsmall $break_xsmall,
  break_small $break_small,
  break_medium_small $break_medium_small,
  break_medium $break_medium,
  break_large_medium $break_large_medium,
  break_large $break_large,
  break_xlarge_large $break_xlarge_large,
  break_xlarge $break_xlarge,
  break_xxlarge $break_xxlarge
;

// build each media query for js ingestion
@each $mq in $mq-sync {
  @media screen and (min-width: nth($mq, 2)) {
    body:after { content: "#{nth($mq, 1)} - min-width: #{nth($mq, 2)}"; }
  }
}

body.debug {
  &:after {
    display: none;
    @if $debug == true {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #000;
      background-color: rgba(0,0,0,0.8);
      text-align: center;
      color: #FFF;
      padding: 10px;
      z-index: 1000;
      font-size: 12px;
      font-family: sans-serif;
    }
  }
}

// hide elements for conditional loading
// only used for responsive comments plugin
// *[data-usn-if] { display: none; }