//I know this is gross but I cant 
//get compass to run so eh
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}

//This is also gross but I cant 
//get compass to run so staph
@mixin value-prefix($name, $argument) {
  #{$name}: -webkit-#{$argument};
  #{$name}:     -ms-#{$argument};
  #{$name}:    -moz-#{$argument};
  #{$name}:      -o-#{$argument};
  #{$name}:         #{$argument};
}

//use this for @ font face
@mixin fontface($font-name,$file-name,$style,$weight) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('/fonts/#{$file-name}'+'.eot') format('eot');
    src: url('/fonts/#{$file-name}'+'.woff') format('woff'),
         url('/fonts/#{$file-name}'+'.ttf') format('truetype'),
         url('/fonts/#{$file-name}'+'.svg') format('svg');
         font-style: $style;
         font-weight: $weight;
  }
}

//calculates rems and ems
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function calculateEm($size) {
  $emSize: $size / 16px;
  @return $emSize * 1rem;
}

//use this as an @extend
//I know this is a scss sheet for 
//mixins but this was one at one
//point but decided it was better 
//as an extend so its here now
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
