//I know this is gross but I cant 
//get compass to run so eh
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}

//This is also gross but I cant 
//get compass to run so staph
@mixin value-prefix($name, $argument) {
  #{$name}: -webkit-#{$argument};
  #{$name}:     -ms-#{$argument};
  #{$name}:    -moz-#{$argument};
  #{$name}:      -o-#{$argument};
  #{$name}:         #{$argument};
}

//use this for @ font face
@mixin fontface($font-name,$file-name,$style,$weight) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('/fonts/#{$file-name}'+'.eot') format('eot');
    src: url('/fonts/#{$file-name}'+'.woff') format('woff'),
         url('/fonts/#{$file-name}'+'.ttf') format('truetype'),
         url('/fonts/#{$file-name}'+'.svg') format('svg');
         font-style: $style;
         font-weight: $weight;
  }
}

//This area after is used for extends

//use this as an @extend
//I know this is a scss sheet for 
//mixins but this was one at one
//point but decided it was better 
//as an extend so its here now
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%scale {
  @media (min-width: $break_medium){
    @include vendor-prefix (transition, all 0.3s);
    &:hover {
      @include vendor-prefix(transform, scale(1.25,1.25));
    }
  }
}
