
//I know this is gross but I cant 
//get compass to run so eh
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}

//use this for @ font face
@mixin fontface($name,$style,$weight) {
  @font-face {
    font-family: '#{$name}';
    src: font-url('#{$name}'+'.eot') format('eot');
    src: font-url('#{$name}'+'.woff') format('woff'),
         font-url('#{$name}'+'.ttf') format('truetype'),
         font-url('#{$name}'+'.svg') format('svg');
         font-style: $style;
         font-weight: $weight;
  }
}

//calculates rems and ems
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function calculateEm($size) {
  $emSize: $size / 16px;
  @return $emSize * 1rem;
}

//use this as an @extend
//I know this is a scss sheet for 
//mixins but this was one at one
//point but decided it was better 
//as an extend so its here now
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}