
//calculates rems and ems
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function calculateEm($size) {
  $emSize: $size / 16px;
  @return $emSize * 1rem;
}

//defaults
$default-bg-color     : #F0F0F0;
$default-font-color   : #4C4C4C;
$white                : #FFFFFF;
$voxmedia             : #E77D24;
$voxdotcom            : #6F96A8;
$polygon              : #D10E54;
$theverge             : #FA4B2A;
$default-color        : #60BDAC;

// breakpoints
$break_xsmall         : calculateEm(400px);
$break_small          : calculateEm(600px);
$break_medium_small   : calculateEm(728px);
$break_medium         : calculateEm(880px);
$break_large_medium   : calculateEm(950px);
$break_large          : calculateEm(1080px);
$break_xlarge         : calculateEm(1200px);

// z-index scale
$z-index-1:   1;
$z-index-2:   2;
$z-index-3:   3;
$z-index-4:   4;
$z-index-5:   5;
$z-index-6:   6;
$z-index-7:   7;
$z-index-8:   8;
$z-index-9:   9;
$z-index-10: 10;

// z-index applications
// homepage module specific

// fonts
$harriet-display: 'harriet display', serif;
$alright: 'alrightsans', sans-serif;

$default-font-size    : 15px;
$default-line-height  : (25px/$default-font-size);

// nav bottom
$nav-bottom           : 220px;

// animation speeds
$default-animation-speed    : 100ms;
$mobile-menu-slide-speed    : 100ms;
