<div class="m-bottom--nav">
  <div class="m-bottom--nav_container">
    <p>Are you looking for the nav or a way to get back to the homepage, well there isnt one... sorry to dissapoint. My goal in creating this website was to abandon the conention of letting you return and force you to just browse through my projects but if you really want to go back to the homepage <%= link_to 'here you go', 'http://mattsullivan.us/' %>.</p>
    <p>Contact Info: <%= link_to 'matt.sullivan@sbnation.com', 'mailto:matt.sullivan@sbnation.com' %>, <%= link_to '732-299-9602', 'tel:1-732-299-9602' %></p>
  </div>
</div>