<!-- project block -->

<div class="m-project--block">

  <div class="m-project s4 img-1"></div>
  <div class="m-project s3 img-2"></div>
  <div class="m-project s1 img-3"></div>
  <div class="m-project s1 img-4"></div>
  <div class="m-project s1 img-5"></div>
  <div class="m-project s2 img-6"></div>
  <div class="m-project s2 img-7"></div>
  <div class="m-project s1 img-8"></div>
  <div class="m-project s1 img-9"></div>
  <div class="m-project s3 img-10"></div>
  <div class="m-project s1 img-11"></div>
  <div class="m-project s4 img-12"></div>
  <div class="m-project s1 img-13"></div>
  <div class="m-project s2 img-14"></div>
  <div class="m-project s1 img-15"></div>
  <div class="m-project s1 img-16"></div>
  <div class="m-project s3 img-17"></div>
  <div class="m-project s2 img-18"></div>
  <div class="m-project s1 img-19"></div>
  <div class="m-project s1 img-20"></div>
    
</div>

<!-- end of project block -->