---
title: Antichamber and the Journey of Life
image: antichamber.jpg
layout: project
description: Antichamber article design.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>We designed this piece to be based off the game itself; rigid and geometric. Pops of color were also included to parallel “Antichamber”.  Again, you will notice the subtle interactive elements, which Vox has become know for, as you scroll.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/9/11/4614458/antichamber-and-the-journey-of-life' %></p>
  </div>