---
title: Apogee&#58; The One-Man Online Game Publisher
image: apogee.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper hendrerit sem, vitae imperdiet massa tempus at. Aliquam aliquam tempor mi in ornare. Aliquam luctus non mi at egestas. Phasellus eleifend faucibus sapien, ac lobortis augue condimentum id. Etiam blandit lorem a orci aliquet, in iaculis felis rhoncus. Ut pulvinar neque posuere finibus accumsan. Sed eu varius massa. Suspendisse pharetra, elit a auctor mattis, arcu libero bibendum felis, sit amet fermentum erat elit in nisi. Pellentesque interdum eget tellus non feugiat. Suspendisse consequat quam nibh, sit amet facilisis urna volutpat id. Phasellus commodo libero ac consectetur euismod. Aliquam euismod mi eget ex lobortis, sed volutpat nisl eleifend.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper hendrerit sem, vitae imperdiet massa tempus at. Aliquam aliquam tempor mi in ornare. Aliquam luctus non mi at egestas. Phasellus eleifend faucibus sapien, ac lobortis augue condimentum id. Etiam blandit lorem a orci aliquet, in iaculis felis rhoncus. Ut pulvinar neque posuere finibus accumsan. Sed eu varius massa. Suspendisse pharetra, elit a auctor mattis, arcu libero bibendum felis, sit amet fermentum erat elit in nisi. Pellentesque interdum eget tellus non feugiat. Suspendisse consequat quam nibh, sit amet facilisis urna volutpat id. Phasellus commodo libero ac consectetur euismod. Aliquam euismod mi eget ex lobortis, sed volutpat nisl eleifend.</p>
  </div>