---
title: Apogee&#58; The One-Man Online Game Publisher
image: apogee.jpg
layout: project
description: Apogee article design.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>This piece was designed around the perforated paper of an antique printer due to the nature of the story. The illustrations and interactive images come together to create a cohesive theme.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/9/27/4741076/apogee-shareware-1987' %></p>
  </div>