---
title: BIDs Philadelphia
image: 
layout: project
---
  
  <div class="issuu-container">
   <iframe width="650" height="406" src="http://e.issuu.com/embed.html#6079383/7955163" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>Business Improvement Districts (BIDs) in Philadelphia attempts to promote business growth by providing tax and business incentives. This was among my first projects in my design career. The city wanted a digital-only booklet that could be downloaded, they enjoyed the design so much that they eventually had a limited print version available.</p>
  </div>
