---
title: Catching Them All
image: catchingthemall.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_writing" %>
    <p>An albeit embaressing peak into my childhood and how I came to catch all 719 pokèmon, its a good read and a peak into my life. It was number one on Polygon the day it launched and the day after it also had the higest traffic of any culture piece that week.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/2014/8/21/6052553/how-to-catch-every-pokemon' %></p>
  </div>