---
title: CRED Ballons
image: cred.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>Art has a voice and when CRED Magazine asked for mine I was able to create an abstract representation of balloons giving the illusion of floating around their office space. It was intended to represent the carefree nature of the art displayed in their magazine.</p>
  </div>