---
title: You Dropped Your Smile
image: smile.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>Smiling can make all the difference, and we noticed there wasn’t enough smiling happening in Philadelphia. We set out to change peoples moods through an installation about what makes different people smile, by asking them to write one thing down on a post it note that makes them smile. All the responses were hung up for other people to read and enjoy.</p>
  </div>
  <div class="m-project--imagebox">
    <div class="imagebox-left n-55">
      <div class="n-top"></div>
      <div class="n-bottom"></div>
    </div>
    <div class="imagebox-right n-45"></div>
  </div>