---
title: Ecstatic States
image: mdma.jpg
layout: project
description: Ecstatic States article design.
---
  
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>A story about the use of MDMA or “ecstasy” not as something that is recreational, but as something that is life changing. The focus was around psychologists using MDMA to lessen the impact of PTSD. As with the medical pill approach the design was focused around 1970’s pill packaging.</p>
    <p><%= link_to 'See it live', 'http://www.theverge.com/2014/4/29/5594872/ecstatic-states-can-an-illegal-drug-treat-ptsd' %></p>
  </div>