---
title: Fighting Dirty
image: fighting.jpg
layout: project
description: Fighting Dirty article design.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>“Fighting Dirty” focuses on MMA fighting and participants who sustain a traumatic brain injury as a result. As a developer, I was able to create an interactive graphic depicting  what happens in real time to a brain when it has been hit.</p>
    <p><%= link_to 'See it live', 'http://www.theverge.com/2014/3/26/5447466/fighting-dirty-behind-boxings-brain-damage-crisis' %></p>
  </div>