---
title: The Future of Technology
image: future.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>My senior thesis took a look into the future and how technology would grow to be a part of us. I was fascinated by the way we use the internet to connect with others and how it benefits people to be able to connect with a loved one from the other side of the country. My main focus was a wearable that pulsed in sync with a loved ones heart and how even though they might not be with us at that moment we are always together.</p>

    <p>The little trinkets I came up with also assisted in everyday life, my helping you keep a schedule get notifications and interact smartly with your surroundings.</p>
    <div class="issuu-container">
     <iframe width="650" height="406" src="http://e.issuu.com/embed.html#6079383/7918532" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe src="http://player.vimeo.com/video/93969325?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>