---
title: The Future of Technology
layout: project
---


<div class="l-container">
  <%= partial "partials/_nav" %>

  <%= image_tag 'adult.png' %>

  

  <%= partial "partials/_projects-block" %>
</div>