---
title: A History of (Muted) Violence
image: violence.jpg
layout: project
description: A History of Violence article design.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>“A History of (Muted) Violence” details the history of inappropriate and adult content in games, particularly focusing on violence. “Inappropriate” graphics move across your screen to further immerse the reader in the design.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/8/8/4595050/adults-only-ao-games' %></p>
  </div>