---
title: Matt's Portfolio Site
layout: layout
---

  <div class="m-project_head--container">
    <div id="gradient" class="m-project s1" style="background-color: #e76846;">
      <h2>Hi</h2>
    </div>
    <div class="m-project s3">
      <p>I’m Matt Sullivan; recent Industrial Design grad.</p>

      <p>I'm a learning junkie, always poking around to gain a new skill; I am never happy just resting on what I know. I love to further myself both technically and educationally.</p>

      <p>I currently work for <%= link_to 'Vox Media', 'http://www.voxmedia.com/' %>. They are a new media company that let me satisfy my creative itch by letting me participate in a veriety of design projects. Current <%= link_to 'Voxaholic', 'http://www.vox.com/' %> former <%= link_to 'Polynaut', 'http://www.polygon.com/' %> and <%= link_to 'Verger', 'http://www.theverge.com/' %>.</p>
    </div>
  </div>