---
title: Infinity Stool
image: infinity.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>Built around a philosophy of movement, the Infinity Stool was a study in developing a seating device around that constraint. Involving tension and bent laminates, I produced a structure that could hold itself together. This project involved taking a good look at the creative process and progress through trials and tribulations.</p>
  </div>
  <div class="m-project--imagebox">
    <div class="imagebox-left n-67"></div>
    <div class="imagebox-right n-33"></div>
  </div>