---
title: Mad Science
image: science.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>An amazing story of science and its interweaving in the gaming community and how its leading to better built stories. This one happned to pretain to an apocolitic event and how science could make the most of it and bring it to newer more relistic territory.</p>
    <p>PS: If you check it out hover over the images.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/7/2/4449082/mad-science-build-a-better-apocalypse' %></p>
  </div>