---
title: Turning Wood Into Gold
image: miniot.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>After transitioning from Polygon to The Verge, this was the first editorial feature I got to work on as the lead designer and developer. The design was inspired by the beautiful, minimalistic designs of the products.</p>
    <p><%= link_to 'See it live', 'http://www.theverge.com/2014/5/8/5621902/miniot-case-iPad-iPhone' %></p>
  </div>