---
title: The Next 30 Years In Gaming
image: next30years.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>This piece is a forecast of gaming over the next 30 years; highlighting how it will influence other parts of culture. We wanted the design to be as striking as the illustrations. You’ll notice subtle interaction occurs as you scroll through. This creates a fun interactivity which mimics the content of the story.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/8/22/4602568/30-years-xbox-360-playstation-3-wii' %></p>
  </div>