---
title: No Girls Allowed
image: nogirls.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>“No Girls Allowed” showcases the alienation of women in  video games and gaming culture. After analyzing the illustrations, I knew I could create a design that would enhance the content of the story.  Ultimately this not only led to a great story, but a wonderful visual experience. </p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/12/2/5143856/no-girls-allowed' %></p>
  </div>