---
title: Philly
image: philly.jpg
layout: project
description: 3D rendered Philly name design.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>Using a birds-eye view picture of Philadelphia and 3D modeling I created a visual tribute to Philly.</p>
  </div>