---
title: Simogo and the Modern Myth
image: simogo.jpg
layout: project
description: Simogo and the Modern Myth article design.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>Simogo is a foreign-fairy tale based iPad game. The design needed to encompass the haunting, interactive qualities of the game. We achieved all this and more; complete with the same subtle snowfall.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/8/1/4546026/simogo-year-walk' %></p>
  </div>