---
title: The Know
image: theknow.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>Delicate situations are often a touchy subject, usually the people involved feel somewhat awkward to come clean. This is the driving idea behind “The Know”, starting as a way for young people to come out of the closet evolved into a means for conveying news the giver feels uneasy talking about to the recipient. The end goal is to hand off the glass vase as a sort of vessel for the news to travel to the persons involved.</p>
  </div>
  <div class="m-project--imagebox">
    <div class="imagebox-left n-32"></div>
    <div class="imagebox-right n-68"></div>
  </div>