---
title: Voxdotcom
image: voxdotcom.jpg
layout: project
description: Voxdotcom design and development.
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>Being part of the Voxdotcom Homepage Redesign Team has been extremely rewarding and instrumental in my professional growth.   Over the course of a few months the team went from mocks, to prototypes, to the actual buildout. This involved refining and interacting with both the design and coding to focus on clarity of information, good design, and clean code.</p>
    <p><%= link_to 'See it live', 'http://www.vox.com' %></p>
  </div>