---
title: Watchdogs&#58; Invasion_
image: watchdogs.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>A story meant to coincide with the release of “Watchdogs”,  the video game. This is about how Chicago has become the #1 American city for surveillance. Due to this fact, the design of the article reflects the power of video.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/10/16/4817988/watch-dogs-invasion' %></p>
  </div>