---
title: Watchdogs&#58; Invasion_
image: watchdogs.jpg
layout: project
---
  
  <%= image_tag current_page.data.image %>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design-dev" %>
    <p>A story meant to coniside with the release of Watchdogs the video game. This is about Chicago and how it has become the most survaleced city in America. Due to that the design of the article refelcts the power of video.</p>
    <p><%= link_to 'See it live', 'http://www.polygon.com/features/2013/10/16/4817988/watch-dogs-invasion' %></p>
  </div>