---
title: What's Next?

layout: project
---
  
  <div class="issuu-container">
    <iframe width="650" height="325" src="http://e.issuu.com/embed.html#6079383/7955544" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="m-project--page">
    <h1><%= current_page.data.title %></h1>
    <%= partial "partials/_design" %>
    <p>I conducted research based on how people stay organized and keep on task. The burning question I looked to investigate was people’s preference on note taking. I observed if people used physical things like notes and planners or if they used digital references to take notes. Based on the findings of my research I put together this book to be a visual collection of infographs that illustrate my data.</p>
  </div>