// breakpoints
$break_xsmall         : calculateEm(400px);
$break_small          : calculateEm(600px);
$break_medium_small   : calculateEm(728px);
$break_medium         : calculateEm(880px);
$break_large_medium   : calculateEm(950px);
$break_large          : calculateEm(1080px);
$break_xlarge         : calculateEm(1200px);