$m: '.m-bottom--nav';

#{$m} {
  @include value-prefix (display, flex);
  bottom: 0px;
  height: 250px;
  position: fixed;
  width: 100%;
  z-index: -1;
  @media (max-width: $break_large) {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  @media (max-width: $break_small) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

#{$m}_container {
  max-width: 59.9em;
  width: 99.9%;
  margin-left: auto;
  margin-right: auto;
  background-color: $default-font-color;
  padding-top: 2em;
  p {
    color: $default-bg-color;
    font-family: $alright;
    width: 80%;
    margin-left: auto;
    margin-top: 1em; 
    margin-right: auto;
    display: block;
    line-height: 1.35em;
    a {
      @include vendor-prefix (transition, all 0.3s);
      font-family: $harriet-display;
      font-style: italic;
      font-size: 1.15em;
      color: $default-color;
      &:hover {
        opacity: .6;
      }
    }
  }
}