//maybe this can be written better...not sure

$one: image-url("1.jpg");
$two: image-url("2.jpg");
$three: image-url("3.jpg");
$four: image-url("4.jpg");
$five: image-url("5.jpg");
$six: image-url("6.jpg");
$seven: image-url("7.jpg");
$eight: image-url("8.jpg");
$nine: image-url("9.jpg");
$ten: image-url("10.jpg");
$eleven: image-url("11.jpg");
$twelve: image-url("12.jpg");
$thirteen: image-url("13.jpg");
$fourteen: image-url("14.jpg");
$fifteen: image-url("15.jpg");
$sixteen: image-url("16.jpg");
$seventeen: image-url("17.jpg");
$eighteen: image-url("18.jpg");
$nineteen: image-url("19.jpg");
$twenty: image-url("20.jpg");

$imgs: (
  img-1 $one,
  img-2 $two, 
  img-3 $three, 
  img-4 $four,
  img-5 $five,
  img-6 $six, 
  img-7 $seven, 
  img-8 $eight,
  img-9 $nine,
  img-10 $ten, 
  img-11 $eleven, 
  img-12 $twelve,
  img-13 $thirteen,
  img-14 $fourteen, 
  img-15 $fifteen, 
  img-16 $sixteen,
  img-17 $seventeen,
  img-18 $eighteen,
  img-19 $nineteen,
  img-20 $twenty
);

@each $img in $imgs {
  $img-name: nth($img, 1);
  $img-value: nth($img, 2);
  .#{$img-name} {
    background-image: $img-value;
    background-size: cover;
    background-position: center center; 
  }
}
